html,body{
	height: 100%;
	

}
p,h1{
	padding: 20px;
	line-height: 0px;
}
.note ol{
	font-size: 25px;
	line-height: 25px;
}
.notebox{
	background-color: indigo;
	height: auto;
	width: auto;

}
.note{
	padding:0 5px;
	color: yellow;
	box-sizing: border-box;

}

.wrapper{
	background: goldenrod;
	height: auto;
}
.outter{
height: 300px;
width: auto;
border: 2px double black;


}
.box{
height: 150px;
width: 150px;
border: 2px dashed brown;
border-radius: 25px;
color: darkred;
font-size:20px; font-weight: bold;
}

/*margin: 0 auto*/
.box1{
	margin: 0 auto;

}
/*inline inline-block*/
.outter2{
	text-align: center;

}
.outter2 .box{
	display: inline-block;

}
/*flex置中*/
.outter3{
	display: flex;

	justify-content: center;
	/*align-items: center;*/
}
.outter3 .box{
	/*使用 margin:0 auto;做水平置中*/
	align-self: center;

}
.outter4{
	position: relative;

}
/*position:absolute的置中*/
.outter4 .box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
/*文字的置中*/
.box2{

text-align: center;
line-height: 150px;
}