
html,body{
height: 100%;

}
.wrapper{

background-color: bisque;
height: 500%;
/*width: 100%;*/

}

.notewrapper{

padding: 10px;
background-color: black;

box-sizing: border-box;

}
.note{
padding: 20px;
color: white;
background-color: navy;

}

.row{

background-color: darkred;
padding: 20px;
display: flex;
flex-wrap: wrap;

}
.col{
background-color: white;
border: 1px goldenrod solid;
box-sizing: border-box;
padding: 0 8px;
width: 20%;
height: 200px;

}
.row2{
background-color: green;
padding: 20px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
.row3{
background-color: green;
padding: 20px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;

}

.row4{
background-color: brown;
padding: 20px;
display: flex;

}
.col-f{
background-color: white;
border: 1px goldenrod solid;
box-sizing: border-box;
padding: 0 8px;
width: 20%;
height: 200px;
flex: 1;

}
.col-f-2{
	flex: 3;
}