body{
	height: 3000px;
}
.post{
	height: 300px;
	width: 300px;
	border: 1px solid #000;
	font-size: 30px;
	font-family: fantasy;
	/*font-weight: bold;*/
	text-shadow: 3px 3px black;
	box-shadow: 10px 10px rgba(0, 0, 0, 0.7);

}
.static{
	background-color: blue;
	color: white;
	position: static;
}
.relative{
	background-color: red;
	color: yellow;
	position: relative;
	top: 0px; left: 300px;

}
.absolute{
	width: 400px;
	height: :400px;

	background-color: brown;
	color: palegreen;
	position: absolute;
	top: 0px;
	right: 0px;
}
.absolute2{
background-color: green;
color: white;
position: absolute;
top: 5px;
right: 4px;

}
.outter{
	height: 500px;
	width: 500px;
	border: 5px solid black;
	position: relative;
	left: 650px;

}
.fixed{
background-color: yellow;
color: blue;
position: fixed;
bottom: 0px;
right: 0px;

}