/*選擇器寫法*/
.色票{
	/*包含在"色票" 區塊下的所有標籤皆配合此設定*/
	width: 300px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
	/*box-shadow: X軸 px Y軸 px 模糊值 px 陰影顏色rgba(0, 0, 0, 0.5);*/
	/*border: 5px dashed black;*/
	/*border: 邊線寬度px dashed邊線樣式 black顏色;*/
}
.色票 .color{

/*新增的class選擇器 .color*/
/*.色票 .color疊層的表示方式*/
	font-size: 20px;
	font-family: 微軟正黑體;
	/*background-color: #ccc;*/
	color: #fff;
	line-height: 2;
	text-align: center;
	margin: 0;
	/*margin 元素與元素間的距離*/
}
.color1{
	background-color: #ACDBC9;
}
/* "." 代表一個class*/
/* "#" 代表id id通常不會用在css樣式表中因為權重稍高 
另一方面是 id 通常會做為保留的屬性，一個網頁中只有一個id 
出現第二個名稱相同的id 會被判定為無效*/
/*通常會先確定合作夥伴工作的方式再決定要不要使用id選擇器在css樣式表中，
否則一般只會使用class*/
.color2{
	background-color: #DBEBC2;
}
.color3{
	background-color: #FDD2B5;
}
.color4{
	background-color: #F7A7A6;
}
.color5{
	background-color: #F48B94;
	height: 200px;
}
#colorGrean{
height: 60px;
}