*{
	position: relative;
	

}
div{
	word-break: break-all;

}
html,body{
	height: 100%;
	margin: 0;
	padding: 0;

}
.wrapper{
background-color: skyblue;
height: 100%;
width: 50%;

}
.ball{
	height: 50px;
	width: 50px;
	background-color: darkred;
	box-shadow: 3px 5px gray;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*animation-name: 向右;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;*/
	animation: 向右 3s 1s both,覆蓋一張牌結束這回合 2s 4s forwards infinite;


}
@keyframes 向右{
	0%{
		left: 30%;
	}

	100%{
		left: 70%;
		
	}	
}
@keyframes 覆蓋一張牌結束這回合{
	0%{
		width: 50px;
		height: 50px;
		/*跟原本的ball一樣高與寬的正方形*/

	}
	100%{
		width: 200px;
		height: 200px;
		border-radius: 25%;
		background-color: grey;
		box-shadow: 3px 5px red;

	}

}
.ball span{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	color: white;
	text-align: center;
	font-size: 0px;

	animation: 出現了沒有意義的一段話 1s 5s forwards;



}

@keyframes 出現了沒有意義的一段話{

	0%{
		font-size: 0px;
		top: 100%;

	}
	100%{
		font-size: 13px;

	}
}
/*以上才是課程筆記*/
/*以下是疾風傳*/
.螺旋丸{
	
	/*width: 100px;
	height: 100px;*/
	/*background-color: blue;*/

	background-image: url(16pic_8808309_s-removebg-preview.png);
	background-size: 100px 100px;

	position: absolute;

	top: 30px;
	left: 30px;
	animation-name: toright;
	animation-duration: 2s;
	/*animation-delay: 1s;*/
	animation-iteration-count: infinite;



}
@keyframes toright{
	30%{
		left: 30%;
		width: 90px;
		height: 88px;
		transform: rotate(
			180deg);
	}
	100%{
		left: 45%;
		width: 130px;
		height: 130px;
		transform: rotate(360deg);

	}
	
}

.千鳥{
	/*width: 100px;
	height: 100px;*/
	/*background-color: blue;*/

	background-image: url(lightning_PNG30.png);
	background-size: 100px 100px;

	position: absolute;

	top: 30px;
	right: 30px;

	animation-name: toleft;
	animation-duration: 2s;
	animation-iteration-count: infinite;


}
@keyframes toleft{
	30%{
		right: 30%;
		width: 90px;
		height: 88px;
		transform: rotate(
			180deg);
	}
	100%{
		right: 40%;
		width: 120px;
		height: 120px;

		transform: rotate(360deg);
	}
	
}

.crash{

width: 100px;
height:100px;



background-size: 100px 100px;

position: absolute;
top: 30px;
left: 50%;
transform: translateX(-50%);
animation-name: transition;
animation-delay: 1s;
animation-duration:4s;
animation-iteration-count: 3;

}
@keyframes transition{
	
	50%{
		background-image: url(jnZOrpC.gif);
		background-size: 100px 100px;


	}
	100%{
		
		background-size: 100px 100px;


	}
}
